<!-- <router-outlet></router-outlet> -->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="showShoppingCart=!showShoppingCart">
            <i class="fab fa-bootstrap"></i> Online-Store
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" [ngStyle]="{color: 'black'}" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngStyle]="{color: 'black'}" href="#">Sale</a>
            </li>
            <li class="nav-item ">
                <button class="btn btn-warning" (click)="showShoppingCart=!showShoppingCart">Shopping cart</button>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container mt-3">
        <div class="row" *ngIf="!showShoppingCart">
            <div class="card col-md-3" *ngFor="let item of products">
                <img [src]="item.image" class="card-img-top" width="100px" height="250px" [alt]="item.productName" />
                <div class="card-body">
                    <span class="card-title h5">{{item.productName}}</span>
                    <small class="error" [innerText]="item.quantity==0?' Sold out':''" [ngStyle]="{color: 'red'}"></small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Giá:
                        <span class="me-2" [ngClass]="item.promotionPrice>0 ?'text-decoration-line-through':''">{{item.price}}</span>
                        <span *ngIf="item.promotionPrice>0" [ngStyle]="{color: 'red'}">{{item.price * (100-item.promotionPrice)/100}}</span>
                    </li>
                    <li class="list-group-item bg-danger" *ngIf="item.promotionPrice>0">Giảm giá: {{item.promotionPrice}} %</li>
                    <li class="list-group-item bg-white" *ngIf="item.promotionPrice==0">Giảm giá: {{item.promotionPrice}} %</li>
                    <li class="list-group-item">Số lượng kho: {{item.quantity}}</li>
                </ul>

                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)="addToCart(item);dec(item)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <app-cart [productAdded]="productAdded" *ngIf="showShoppingCart"></app-cart>
</main>